/*--------------------------------------------------------
phones
--------------------------------------------------------*/
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
	a {
		font-size: x-small;
	}
	#navigation {
	}
	#navigation-logo {
		height: 4vh;
	}
	.footerSection {
		font-size: xx-small;
	}
	#fatFooter {
		width: 100vw;
		grid-template-columns: 3.5vw 12vw 5vw 15vw 6vw 13vw 4vw 13vw 4vw 13vw 1.5vw;
	}
	#footer {
		width: 100vw;
		grid-template-columns: 20vw 70vw 10vw;
		grid-template-rows: 1vh 6vh 2vh;
		font-size: x-small;
		padding-bottom: 2vh;
	}
	#line {
		width: 94%;
		margin: 0 2vw 0 2vw;
	}
	.socialImage {
		height: 3vh;
	}
	#navbarText {
		margin: 1vh 1vw;
	}
	#home-landing {
		width: 105vh;
	}
	video {
		width: 105vw;
	}
	/* #home-landing{
    width: 100vw;
} */
	#homeLandingLogo {
		top: 20vh;
		left: 5vw;
		height: 45vh;
	}
	#homeLandingTag {
		top: 75vh;
		left: 11vw;
		font-size: 35px;
	}
	/* about page */
	#aboutBody {
		padding-top: 7vh;
		height: 63vh;
	}
	#aboutLandingTitle {
		font-size: 8vh;
		width: 100vw;
		right: 35vw;
		top: 25vh;
	}
	#aboutLandingMission {
		font-size: 2vh;
		margin-top: 2vh;
	}
	#aboutLandingText {
		font-size: 1vh;
	}
	#aboutLogo {
		display: none;
	}
	#aboutLanding {
		grid-template-rows: 5vh 20vh 20vh 10vh 5vh;
	}
	#aboutLandingText {
		grid-column-start: 3;
		grid-column-end: 5;
	}
	#teamButton {
		padding: 2vh 2vw;
		width: 35vw;
		height: 4vh;
	position: relative;
	left: 5vw;
	font-size: large;
	}
	/* team page */
	#teamBody {
		height: 640vh;
	}
	#teamTitle {
		font-size: 7vh;
	}
	#teamText {
		font-size: 2.5vh;
	}
	#career-button {
		position: relative;
		top: 400vh;
		width: 50vw;
	}
	/* capabillity page */
	#capabilityBody {
		height: fit-content;
		padding-bottom: 3vh;
	}
	#capabilityTitle {
		font-size: 6vh;
		margin-left: 4vw;
	}
	#capabilityText {
		font-size: 2vh;
		text-align: center;
	}
	.capabilityImage {
		width: 95vw;
		margin: 2vh 0 0 2.5vw;
	}
	#downloadLink {
		font-size: 2vh;
	}
	/* term and privacy pages */
	#termsTitle {
		font-size: 5vh;
	}
	/* sitemap page */
	#sitemapBody {
		padding-top: 7vh;
		height: 100vh;
	}
	#sitemapTitle {
		margin: 5vh 0 0 17vw;
	}
	#sitemapPanel {
		grid-template-columns: 15vw 20vw 2.5vw 25vw 2.5vh 20vw 15vw;
		grid-template-rows: 5vh 10vh 10vh 5vh;
	}
	.sitemepSectionTitle{
		font-size: 2vh;
		margin-bottom: .5vh;
	}
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
	.footerSection {
		font-size: xx-small;
	}
	#footer {
		grid-template-columns: 30vw 60vw 10vw;
		font-size: x-small;
	}
	.socialImage {
		height: 5vh;
	}
	#navbarText {
		margin: 2vh 0vw;
	}
	#homeLandingLogo {
		top: 20vh;
		left: 5vw;
		height: 45vh;
	}
	#homeLandingTag {
		top: 75vh;
		left: 11vw;
		font-size: 35px;
	}
	.arrow-circle-down {
		top: 80vh;
		left: 48vw;
	}
	/* about page */
	#aboutBody {
		height: 135vh;
	}
	#aboutLandingTitle {
		font-size: 14vh;
		width: 70vw;
		right: 55vw;
	}
	#aboutLandingText {
		font-size: smaller;
	}
	/* team page */
	#teamBody {
		height: 740vh;
	}
	#career-button {
		position: relative;
		top: 400vh;
		left: 25vw;
	}
	#teamButton {
		width: 11vw;
		font-size: smaller;
		position: relative;
		top: 15vh;
		padding: 1.5vh;
		margin-top: 2vh;
	}
	/* capabillity page */
	#capabilityBody {
		height: fit-content;
		padding-bottom: 3vh;
	}
	#capabilityTitle {
		font-size: 6vh;
		margin-left: 4vw;
	}
	#capabilityText {
		font-size: 2vh;
		text-align: center;
	}
	.capabilityImage {
		width: 95vw;
		margin: 2vh 0 0 2.5vw;
	}
	/* sitemap page */
	#sitemapBody {
		padding-top: 7vh;
		height: 200vh;
	}
}
/*--------------------------------------------------------
tablets
--------------------------------------------------------*/
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	#navigation {
		grid-template-columns: 5vw 10vw 10vw 10vw 20vw 10vw 10vw 10vw 5vw;
	}
	#footer {
		grid-template-columns: 20vw 70vw 10vw;
		grid-template-rows: 1vh 6vh 2vh;
	}
	video {
		width: 95vw;
	}
	#homeLandingLogo {
		top: 20vh;
		left: 5vw;
		height: 45vh;
	}
	#homeLandingTag {
		top: 75vh;
		left: 11vw;
		font-size: 35px;
	}
	.arrow-circle-down {
		top: 80vh;
		left: 48vw;
	}
	/* about page */
	#aboutBody {
		height: 100vh;
	}
	#aboutLandingTitle {
		font-size: 14vh;
		width: 90vw;
		/* right: 35vw; */
		font-size: 12vh;
		bottom: 1vh;
	}
	#aboutLandingText {
		font-size: smaller;
	}
	/* team page */
	#teamBody {
		height: 740vh;
	}
	#career-button {
		position: relative;
		top: 400vh;
		left: 25vw;
	}
	#teamButton {
		width: 11vw;
		font-size: smaller;
		position: relative;
		top: 15vh;
		padding: 1.5vh;
		margin-top: 2vh;
	}
	/* team page */
	#teamBody {
		height: 320vh;
	}
	#teamTitle {
		font-size: 7vh;
	}
	#teamText {
		font-size: 2.5vh;
	}
	#career-button {
		position: relative;
		top: 85vh;
		width: 50vw;
	}
	/* capabillity page */
	#capabilityBody {
		height: fit-content;
		padding-bottom: 3vh;
	}
	.capabilityImage {
		width: 95vw;
		margin: 2vh 0 0 2.5vw;
	}
}
/* Landscape */
@media only screen and (min-device-width: 813px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
	#footer {
		grid-template-columns: 20vw 80vw 0vw;
		grid-template-rows: 1vh 6vh 2vh;
		width: 100%;
	}
	#navbarText {
		margin: 3vh 0vw;
	}
	.socialImage {
		height: 3vh;
		padding: 2vh 0 2vh 0;
	}

	/* team page */
	#teamBody {
		height: 400vh;
	}
	#teamTitle {
		font-size: 10vh;
	}
	#teamText {
		font-size: 3vh;
	}
	#teamCards{
margin-left: 10vw;
	}
	#career-button {
		position: relative;
		top: 165vh;
		width: 50vw;
	}
	/* capabillity page */
	#capabilityBody {
		height: 220vh;
		padding-bottom: 3vh;
	}
	.capabilityImage {
		width: 95vw;
		margin: 2vh 0 0 2.5vw;
	}
}
/*--------------------------------------------------------
wearables
--------------------------------------------------------*/
@media (max-device-width: 218px) and (max-device-height: 281px) {
}
